.playlist-card-container {
  display: flex;
  margin-bottom: 10px;
  width: 360px; 
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.swiper-container {
  width: 100%; 
  height: 100%; 
  gap: 10px;
}

.swiper-slide {
  display: block; 
  width: 360px; 
  height: 360px; 
  border-radius: 0px 30px 0px 0px;

  overflow: hidden; 
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-height: 360px;
  object-fit: contain;
  object-position: center;
  cursor: grab;
}

.playlist-card-result {
  position: relative; 
}

.playlist-card-result-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  background-color: #1DB954;
  opacity: 0.9;
  color: #FFF;
  text-decoration: none;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.playlist-card-result-button:hover {
  background-color: #17a74a; 
  opacity: 1;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  */
  /* transform: scale(1.02);  */
}

.playlist-card-result-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.playlist-genre-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 20px 0px 20px 20px;
  background: #11113A;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.playlist-genre-title {
  margin: 0px;
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.playlist-genre-result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.playlist-genre-result {
  margin: 0px;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #B983EF;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@keyframes arrowShake {
  0%, 100% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

.drag-arrow {
  width: 25%;
  animation: arrowShake 2s ease-in-out infinite;
}

.drag-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 100px;
  background: #B983EF;
  color: #FFF;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  cursor: grab;
}

.drag-indicator:hover {
  opacity: 1;
}