html, body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  overflow: hidden;
}

.playlist {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('../../assets/GenresPage.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.playlist-container {
  display: flex;
  min-width: 360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}