.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  height: 38px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 100px;
  background: #11113A;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 100px;
  background: #B983EF;
  color: #FFF;
  text-decoration: none;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-playlists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  color: #FFF;
  text-decoration: none;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}