.genre-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 20px 20px 0px 20px;
  background: #11113A;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.genre-title {
  margin: 0px;
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 10px 10px 0px 10px;
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.genre-result-container {
  display: flex;
  width: 276px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.genre-result {
  margin: 0px;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #B983EF;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
