html, body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  overflow: hidden;
}

.search {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('../../assets/MainPage.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search-container {
  display: flex;
  width: 360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 128px;
  transform: translateY(16px);
}

.genre-header {
  margin: 0px;
  color: white;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
